Vdisk.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Vdisk.xcodeproj/project.xcworkspace/xcuserdata/mac.xcuserdatad/UserInterfaceState.xcuserstate
Vdisk.xcodeproj/project.xcworkspace/xcuserdata/mac.xcuserdatad/WorkspaceSettings.xcsettings
Vdisk.xcodeproj/xcuserdata/mac.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
Vdisk.xcodeproj/xcuserdata/mac.xcuserdatad/xcschemes/Vdisk.xcscheme
Vdisk.xcodeproj/xcuserdata/mac.xcuserdatad/xcschemes/xcschememanagement.plist
build
